{% extends "layout.html" %}
{% block content %}
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="dl-color--white mdl-shadow--2dp mdl-cell mdl-cell--5-col">
        <h1>Instagram Hashtag Recommender</p>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--2-col">
        <p>Welcome (:</p>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}